body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(221, 234, 238);
}

h1 {
  text-align: center;
  margin: 2rem;
}

form {
  background-color: rgb(159, 192, 245);
  padding: 2rem;
  width: 40rem;
  margin: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  color: rgb(39, 39, 87);
  /* display: block; */
}

.box {
  font: inherit;
  width: 100%;
  /* display: block; */
  box-sizing: border-box;
  height: 2rem;
  margin: 0.3rem;
  border: 1px solid rgba(171, 161, 194, 0.2);
  border-radius: 4px;
}

#user-message {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 0.3rem;
  border: 0.1rem solid rgba(100, 100, 100, 20%);
}

.box:focus,
textarea:focus {
  background-color: rgb(192, 195, 195);
}

textarea {
  resize: none;
}

.radio {
  display: flex;
  margin-bottom: 8px;
}

.radio label {
  margin-left: 6px;
}

#terms {
  margin-top: 20px;
  margin-bottom: 15px;
}
#accept-term {
  margin: 0.8rem 0;
}

button {
  font: inherit;
  border: 1px soid rgb(193, 215, 221);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

#button-clear {
  background-color: rgb(168, 226, 226);
  color: rgb(40, 39, 39);
}

#button-submit {
  background-color: rgb(54, 56, 56);
  color: rgb(247, 243, 243);
}

#button-clear:hover {
  background-color: rgb(77, 103, 103);
  color: rgb(230, 228, 228);
}

#button-submit:hover {
  background-color: rgb(104, 108, 108);
  color: rgb(16, 15, 15);
}

#button-section {
  text-align: right;
}