* {
    margin:0px;
}

body {
    display: flex;
    flex-direction: column;
    color:white;
    font-family: sans-serif;
    text-align: center;
}

.background_image {
    z-index: -1;
    /* display:flex;
    position:fixed;
    width:auto;
    height:140vh; */
    /* margin-top: -110px;  */
    object-position: 50% 50%;
}

#weather {
    text-align: right;
    margin:20px;
    font-size: 25px;
}

#clock {
    font-size: 60px;
    margin-top: 13%;
    margin-bottom: 4%;
}

#login-form {

}

#greeting {

}

#todo-form {

}

#quote {

}

form {

}