.hidden {
    display: none;
}

* {
    margin:0px;
}

body {
    display: flex;
    flex-direction: column;
    color:white;
    font-family: sans-serif;
    text-align: center;

}

.background_image {
    z-index: -1;
    display:flex;
    position:fixed;
    width:auto;
    height:1500px; 
    margin-top: -110px; 
    object-position: 50% 50%;
}

#weather {
    text-align: right;
    margin:20px;
    font-size: 25px;
}

#clock {
    font-size: 150px;
    margin-top: 13%;
    margin-bottom: 20px;
}

#greeting {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

form {

}

#greeting {

}

#todo-form {

}

#quote {

}

form {

}