.hidden {
    display: none;
}

* {
    margin:0px;
}

body {
    display: block;
    color:white;
    font-family: sans-serif;
    text-align: center;

}

.background_image {
    z-index: -1;
    display:flex;
    position:fixed;
    width: 100%;
    margin-top: -700px; 
    object-position: 50% 50%;
}

#weather {
    text-align: right;
    margin:20px;
    font-size: 25px;
}

#clock {
    font-size: 150px;
    margin-top: 13%;
    margin-bottom: 30px;
}

#greeting {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

form {

}

#login-form {
    margin: 20px;
}

#greeting {

}

#todo-form {

}

#quote {
    position:absolute;
    bottom:30px;
    left: 25%;
    right: 25%;
    ;
}

form {

}